html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.h2 {
  color : green
}

.card {
  background-color : white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 300px;
  min-width: 300px;
  margin-bottom: 10px;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor :pointer;
  border:4px solid rgb(218, 130, 22);
  max-width: 310px;
  min-width: 310px;
}

button {
  margin: 3px;
  min-width: 30px;
  cursor :pointer;
  font-size: 18px;
  font-family: monospace;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: rgb(242, 137, 8);
  border-color:  rgb(242, 137, 8);
}

button:active {
  background-color: rgb(218, 130, 22);
  border-color:  rgb(218, 130, 22);
  cursor:wait;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #212026;
    background: black;
  }
}
